<div id="<%= dom_id bill %>">
  <p>
    <strong>Bill value:</strong>
    <%= bill.bill_value %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= bill.due_date %>
  </p>

  <p>
    <strong>Enrollment:</strong>
    <%= bill.enrollment_id %>
  </p>

  <p>
    <strong>Bill status:</strong>
    <%= bill.bill_status %>
  </p>

</div>
